/* 1o esercizio */

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}
.ex-1-square:hover {
    background-color: red;
}
/* / 1o esercizio */

/* 2o esercizio */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s;
}
.ex-2-square:active {
    transform: scale(2);
}

/* / 2o esercizio */

/* 3o esercizio */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s;
}
.ex-3-square:hover {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}

/* / 3o esercizio */

/* 4o esercizio */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s;
}
.ex-4-square:hover {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0);
}
/* / 4o esercizio */

/* 5o esercizio */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 2s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}
/* / 5o esercizio */

/* 6o esercizio */
.ex-6-img {
    width: 500px;
    transition: all;
}
.ex-6-img:hover {
    filter:invert(1)
}
/* / 6o esercizio */

/* 7o esercizio */
.ex-7-img {
    width: 500px;
    transition: all 2s;
}
.ex-7-img:hover {
    filter: saturate(10) blur(10px);
}
/* / 7o esercizio */

/* 8o esercizio */
.ex-8-img {
    width: 500px;
    transition: all 2s;
}

.ex-8-img:hover {
    filter: sepia(90%) brightness(2);
    border-radius: 30px;
}
/* / 8o esercizio */

/* 9o esercizio */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 2s;
}

.ex-9-img:hover {
    filter: sepia(90%) brightness(2);
    border-radius: 30px;
    transform: scale(1.5);
}
/* / 9o esercizio */

/* 10o esercizio */
.ex-10-icon {
    font-size: 60px;
    animation: exercise10 4s infinite linear;
}
@keyframes exercise10 {
0% {transform:rotate(0deg);
}
25%{transform:rotate(90deg);
}
50%{transform:rotate(180deg);
}
75%{transform:rotate(270deg);
}
100%{transform:rotate(360deg);
}
}
/* / 10o esercizio */

/* 11o esercizio */
.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover {
    animation: exercise11 2s linear;
}
@keyframes  exercise11 {
    0% {transform:rotate(0deg);
    }
    25%{transform:rotate(90deg);
    }
    50%{transform:rotate(180deg);
    }
    75%{transform:rotate(270deg);
    }
    100%{transform:rotate(0deg);
    }
    }
/* / 11o esercizio */

/* 12o esercizio */
.ex-12-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button .ex-12-top-white {
    animation: exercise12 2s linear infinite;
}

.ex-12-button .ex-12-bottom-white {
    animation: exercise12-1 2s linear infinite;
}

@keyframes exercise12 {
    0% {top: -10px; left: 10%;
    }
    25%{top: -10px; left: 40%;
    }
    50%{top: -10px; left: 60%;
    }
    75%{top: -10px; left: 40%;
    }
    100%{top: -10px; left: 10%;
    }
    }

@keyframes exercise12-1 {
    0% {bottom: -10px; right: 20%;
    }
    25%{bottom: -10px; right: 40%;
    }
    50%{bottom: -10px; right: 60%;
    }
    75%{bottom: -10px; right: 40%;
    }
    100%{bottom: -10px; right: 20%;
    }
    }
/* / 12o esercizio */

/* 13o esercizio */
.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
  
}
.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-13-button .ex-13-top-white {
    animation: exercise13 4s linear infinite;
}

.ex-13-button .ex-13-bottom-white {
    animation: exercise13-1 4s  infinite;
}

@keyframes exercise13 {
    0% {top: -10px; left: 10%; 
    }
    25%{top: -10px; left: 90%; 
    }
    50%{top: 100%; left: 75%;
    }
    75%{top: 100%; left: 0%;  
    }
    100%{top: -10px; left: -10%; 
    }
}
@keyframes exercise13-1 {
    0% {bottom: -10px; right: 20%;
    }
    25%{bottom: -10px; right: 75%;
    }
    50%{bottom: 100%; right: 75%;
    }
    75%{bottom: 100%; right: -10%;
    }
    100%{bottom: -10px; right: -10%;
    }
    }
/* / 13o esercizio */